body{
  color: #fff;
}

.header{
  margin-top: 5rem;
}

.timer-conatiner{
  margin-top: 1rem;
    padding: 2.5rem;
    font-size: x-large;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.timer{
    text-align: center;
}

.timer-name{
  text-align: center;
  font-size: 1rem
}

