body {
  color: #fff;
}

.btn-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.timer-container {
  margin-top: 1rem;
  padding: 2rem;
  font-size: x-large;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.timer {
  text-align: center;
}

.timer-name {
  text-align: center;
  font-size: 1rem;
}

.item {
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  margin: .3rem .6rem;
  width: 12.5%;
  height: 12.5%;
}

/* @media screen  and (max-width: 769px) {
  .timer-container{
    flex-direction: column;
  }
} */
